body
{
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  overflow:hidden;
}
#draw
{
  border: #000 dashed 3px;
  background: #f1f1;
}
.main
{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
}
.canvas
{
  align-self: center;
  margin-bottom: 1rem;
}
.buttons
{
  align-self: center;
}
.button
{
  margin: 0 2rem;
}
.predict-text
{
    color: #fff;
    font-size: 25px;
    margin-top: 2rem;
}
.footer-panel
{
  background: #fff;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  position: fixed;
}
